<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- path of IronPython.dll (relative to pyro.dll) //-->
        <add key="ironpython_root" value=""/>
        
        <!-- working directory for Python (relative to pyro.dll)  //-->
        <add key="ipy_addin_path" value="..\"/>
        
        <!-- name of addin-module loaded from working directory //-->
        <add key="ipy_addin_module" value="pyro.bootstrap"/>

        <!-- activate pydev-debugging with path to pydev-codebase //-->
        <add key="pydev_debug" value="False"/>
        <add key="pydev_codebase" value="PATH-TO-ECLIPSE-FOLDER\plugins\org.python.pydev_PYDEV-VERSION\pysrc"/>
        
    </appSettings>
</configuration>
